.fundoCadastro {
  background-image: url(../../assets/cadastroAnimado.svg);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: center;
  background-position: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 60%;
  height: 80%;
  margin: 0 auto;
}