.fundoLogin {
  background-image: url(../../assets/loginAnimado.svg);
  background-repeat: no-repeat;
  min-height: 70vh;
  width: 80%;
  background-size: cover;
  background-position: center;
}

.form-container {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 60%;
  height: 80%;
  margin: 0 auto;
}